@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

body {
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
}
h1 {
	font-weight: 400;
    color: #32afb2;
}
h2 {
	font-weight: 400;
}
a {
    text-decoration: none;
	color: #32afb2;
}
ul {
	padding-left: 20px;
}
li {
    list-style-type: none;
    margin-bottom: 5px;
}
li::before {
    content: "- ";
}
footer {
	width: 1020px;
	margin: auto;
	padding: 0;
	text-align: center;
}
.container {
	width: 1020px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
}
.personnel {
	width: 400px;
}
.avatar {
	width: 350px;
	height: 350px;
	background-image: url('../src/avatar.jpg');
	background-position: center;
	background-size: 100%;
	border-radius: 100%;
	margin: auto;

}
.contact__items > p {
	margin: 10px 10px 10px 0;
}
.line {
	height: 2px;
    background-color: #646262;
    margin: 20px auto;
}
.line__left {
    height: 2px;
    background-color: #646262;
    margin: 26px auto;
}
.main {
	width: 600px;

}
.desiredPosition, .eduitem__heading, .expitem__company {
	font-weight: 400;
}
.name > p {
	font-size: 20px;
}
.eduitem__specialization, .expitem__position {
    font-weight: 400;
    color: #32afb2;
}
